ul {
    list-style: none;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
}

.plus-icon {
    border-radius: 30px;
}

.tree {
    height: 100%;
    padding-left: 8px;
    padding-top: 10px;
}

.treeRoot {
    height: 100%;
    margin-top: auto;
}

.draggingSource {
    opacity: 0.3;
}

.placeholderContainer {
    position: relative;
}

.dropTarget {
    background-color: #e8f0fe;
}
